@import 'colors';

.Table {
  width: 100%;
}

:global .ReactTable {
  width: 100%;
}

:global .rt-tr-group:hover {
  color: $color-white;
  background-color: $color-primary-light;
  cursor: pointer;
}

:global .rt-thead {
  color: $color-white;
  background-color: $color-primary;
}

:global .pagination-bottom {
  color: $color-white;
  background-color: $color-primary;

  :global .-btn {
    color: $color-white !important;
  }
}

:global .rt-td {
  a, a:active, a:hover, a:visited {
    width: 100%;
    text-decoration: none;
    display: inline-block;
    color: inherit;
  }
}
