.Reportes {
  width: 100%;
  padding: 1rem;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .ReportesHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .ReportesWrapper {
    width: 100%;
    height: 80%;
    margin-top: 1rem;
  }
}
