.ColorPicker {
	position: relative;

	.colorSample {
		height: 1em;
		width: 1em;
		border: 1px solid #333;
		margin: 0 0.5em 1em 0;
	}

	.colorPopout {
		position: absolute;
		left: 0;
		top: 1em;
		z-index: 9999;
	}
}
