$color-primary: #0a7ec1;
$color-primary-dark: #0067ac;
$color-primary-light: #32b3e8;

$color-white: #fff;
$color-greyscale-light: #f1f1f2;

$color-greyscale-darkest: #2d2f33;
$color-greyscale-darker: #3a3d46;
$color-greyscale-dark: #656979;
$color-greyscale-mid: #9fa1ab;

$color-greyscale-mid-light: #D4D5D6;
$color-greyscale-light: #e4e4e5;
$color-greyscale-lighter: #f0f0f0;
$color-greyscale-lightest: #fbfbfb;
$color-greyscale-white: #ffffff;
